.backg{
    background-color: #34495e;
    color: white;
}

li .backg a{
    color: white;
}


.personalize{

}

.navbar-nav .perzonalize a{
    padding-bottom: 0px;
    padding-top: 10px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.badge:empty {
    display: none;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
